<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
		<add key="TestConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="data source=(local);initial catalog=ILR1819_DataStore;integrated security=True;multipleactiveresultsets=True;Connect Timeout=90"/>
	</appSettings>

    <connectionStrings>
		<add name="ILR1819_DataStoreEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/DataStoreModel.csdl|res://*/DataStoreModel.ssdl|res://*/DataStoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=ILR1819DataStore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ILR1819_DataStoreEntitiesInvalid" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/InvalidModel.csdl|res://*/InvalidModel.ssdl|res://*/InvalidModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=ILR1819DataStore;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ILR1819_DataStoreEntitiesValid" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/ValidModel.csdl|res://*/ValidModel.ssdl|res://*/ValidModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=ILR1819DataStore;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
 
</configuration>