<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="IlrTestConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" value="__IlrTestConnectionString__"/>
    <add key="Fm36HistoryTestConnectionString" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  value="__Fm36HistoryTestConnectionString__"/>
  </appSettings>
    <connectionStrings>
    <add name="AppEarnHistory" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__AppEarnHistory__" providerName="System.Data.EntityClient" />
    <add name="ILR1819_DataStoreEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__ILR1819DataStoreEntities__" />
		<add name="ILR1819_DataStoreEntitiesInvalid" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__ILR1819DataStoreEntitiesInvalid__"  />
		<add name="ILR1819_DataStoreEntitiesValid" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="__ILR1819DataStoreEntitiesValid__" />
	</connectionStrings>
</configuration>